.page-bar .date-selector{
	float: left;
	margin:10px 0;
}

.page-bar .add-event-btn{
	float: right;
	margin: 8px 0;
}

.table_import_filters_container{
	list-style: none;
	padding: 0;
	margin: 0;
}
.table_import_filters_container li{
	display: inline-block;
	width: 19%;
	padding-right: 1%;
}
.table_import_filters_container li:nth-child(5), .table_import_filters_container li:nth-child(6) {
	width: 9%;
}
.table_import_filters_container li:nth-child(6) {
	padding-right: 0;
}
.table_import_filters_container li:nth-child(5) > button, .table_import_filters_container li:nth-child(6) > button {
	width: 100%;
	margin: 0 0 13px;
}

.import_modal_title{
	float: left;
}
.import_events_sys_date{
	float: right;
	margin-right: 20px;
}



.assoc_website .form-group{
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
}
.assoc_website:nth-child(2n+1) .form-group{
	border-right:1px solid #eee;
}

.assoc_website:nth-last-child(2) .form-group, .assoc_website:nth-last-child(1) .form-group{
	border-bottom: 0;
}

.add_event_manually {
	padding: 0;
	list-style: none;
}


.add_event_form .form-group{
	margin-right: 0;
	margin-left: 0;
}

.bar-buttons{
	float: right;
}
.bar-buttons button{
	margin: 8px 0;
}

.website_tr{
	background: #f6f6f6;
}
.pack_tr{
	background: #fcfcfc;
}
.inline-list li{
	display: inline-block;
}
.nostyle-list{
	list-style: none;
	padding: 0;
}
.subscription-entry td{
	background: #ffe5c7;
}

.autounit.leagues + div,
.multiselect.dropdown-toggle {
  width: 100%;
}
